{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Portfolio</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center white-text text-lighten-2">Personal Portfolio</h1>
        <div class="row center">
          <h5 class="header col s12 light"> Most good programmers do programming not because they expect to get paid or
            get adulation by the public, but because it is fun to program.</h5>
        </div>

      </div>
    </div>
    <div class="parallax"><img src="/static/background1.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">perm_identity</i></h2>
            <h5 class="center">About</h5>

            <p class="light">My name is Natthaphon Rakprakobkij. Third-year programmer of Software and Knowledge
              Engineering at Kasetsart University, Thailand.</p>
            <p class="light">Hobbies: Playing Piano, Taking photos, Cooking.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">code</i></h2>
            <h5 class="center">Skills</h5>

            <p class="light">I'm interested in Python&Django, JavaScript, HTML5, CSS, SQL and Non-SQL.</p>
            <p class="light">I'm good at working with Agile process too. </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">computer</i></h2>
            <h5 class="center">Projects</h5>
            <a href="https://github.com/mark47546/Amazing_arrow">
              <p class="light">Amazing Arrow: Python Arcade project.</p>
            </a>
            <a href="https://github.com/kidstylex/TELLING">
              <p class="light">TELLING: Django web application project.</p>
            </a>
            <a href="https://github.com/mmookptr/evaluately.git">
              <p class="light">Evaluately: Django web application project.</p>
            </a>

          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">The future belongs to those who believe in the beauty of their dreams.</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/static/background2.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">email</i></h2>
            <h4>Contact</h4>
            <div class="col s12 m8 offset-m2 l6 offset-l3">
              <div class="card-panel grey lighten-5 z-depth-1">
                <div class="row valign-wrapper">
                  <div class="col s2">
                    <img src="/static/profile.jpeg" alt="" class="circle responsive-img">
                    <!-- notice the "circle" class -->
                  </div>
                  <div class="col s10">
                    <span class="black-text">
                      <p class="left-align light">Name: Natthaphon Rakprakobkij</p>
                      <p class="left-align light">Address: 25/214 Regent Home 25 Tiwanon Talatkwan Nontaburi 11000</p>
                      <p class="left-align light">Email: mark47546natthaphon@gmail.com</p>
                      <p class="left-align light">Phone: +66 82 671 9104</p>
                    </span>
                  </div>
                </div>
              </div>
              <p class="left-align light">Or you can leave message here:</p>
              <div class="message-box">
                <form method="POST">
                  {% csrf_token%}
                  <div class="input-field col s12">
                    {{forms.email}}
                  </div>
                  <div class="input-field col s12">
                    {{forms.topic}}
                  </div>
                  <div class="input-field col s12">
                    {{forms.message}}
                  </div>
                  <input type="submit" class="btn-medium waves-effect waves-light brown lighten-3">
                </form>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


    <div class="parallax-container valign-wrapper">
      <div class="section no-pad-bot">
        <div class="container">
          <div class="row center">
            <h5 class="header col s12 light"> Everyday life is like programming, I guess.If you love something you can put beauty on it.</h5>
          </div>
        </div>
      </div>
      <div class="parallax"><img src="/static/background3.jpg" alt="Unsplashed background img 3"></div>
    </div>

    <footer class="page-footer brown">
      <div class="footer-copyright">
        <div class="container">
          Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
        </div>
      </div>
    </footer>


    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/static/js/materialize.js"></script>
    <script src="/static/js/init.js"></script>

</body>

</html>